@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.eot");
    src: url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Lato-Regular.woff2") format("woff2"),
        url("fonts/Lato-Regular.woff") format("woff"),
        url("fonts/Lato-Regular.ttf") format("truetype"),
        url("fonts/Lato-Regular.svg#fonts/Lato-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-ExtraBold.eot");
    src: url("fonts/Lato-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Lato-ExtraBold.woff2") format("woff2"),
        url("fonts/Lato-ExtraBold.woff") format("woff"),
        url("fonts/Lato-ExtraBold.ttf") format("truetype"),
        url("fonts/Lato-ExtraBold.svg#fonts/Lato-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ECECEC;
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .03em;
    color: #121212;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    position: relative;
    z-index: 3;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: "Lato";
    font-weight: 800;
    font-size: 106px;
    line-height: 108px;
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #0026CA;
}

h2 {
    font-family: "Lato";
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #0026CA;
}

h3 {
    font-family: "Lato";
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #0026CA;
}

h4 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .03em;
    color: #121212;
}

p {
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .03em;
    color: #121212;
}

a {
    text-decoration: none;
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .03em;
    color: #121212;
}

li {
    list-style: none;
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .03em;
    color: #121212;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    background-image: url(img/promo_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_wrapp {
    display: flex;
    display: -webkit-flex;
    max-width: 816px;
    margin: 0 auto;
    padding: 30px 0 25px 0;
    overflow: hidden;
    position: relative;
    background-image: url(img/header_triangle.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.header_wrapp .left {
    width: calc(50% - 55px);
    padding: 36px 10px 10px 10%;
    text-align: center;
}

.header_wrapp .logo_wrapp {
    width: 110px;
}

.logo {
    display: block;
    width: 77px;
    margin: 0 auto;
}

.logo img {
    display: block;
    width: auto;
    max-width: 100%;
}

.header_wrapp .right {
    width: calc(50% - 55px);
    padding: 36px 10% 10px 10px;
    text-align: center;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.nav_link:link,
.nav_link:visited {
    border-bottom: 1px solid transparent;
}

.nav_link:active,
.nav_link.active {
    border-bottom: 1px solid #FFFFFF;
}

.nav_link:hover {
    border-bottom: 1px solid #FFFFFF;
}

.h1_wrapp {
    margin-top: 88px;
}

.h1_wrapp h1 {
    padding: 31px 0;
    color: #fff;
}

.header_descript {
    text-align: center;
}

.header_descript p {
    padding: 31px 0;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #C8CDFA;
}

.button_wrapp {
    text-align: center;
    padding: 124px 0;
}

.white_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 303px;
    padding: 19px 10px 20px 10px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 10px 32px rgba(0, 148, 255, .67);
    -moz-box-shadow: 0 10px 32px rgba(0, 148, 255, .67);
    box-shadow: 0 10px 32px rgba(0, 148, 255, .67);
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-weight: normal;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #0026CA;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.article {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.article .left {
    width: 500px;
    padding-right: 10px;
}

.article .right {
    width: calc(100% - 500px);
    padding-left: 36px;
    padding-right: 3%;
}

.article h2 {
    padding-bottom: 37px;
}

.article p {
    padding-top: 42px;
}

.article ul > li {
    margin: 34px 0;
    padding-left: 43px;
    position: relative;
}

.article ul > li:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(img/triangle_mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 0;
}

.article ul > li + li:before {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
}

.article ul > li + li + li:before {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.article ul > li + li + li + li:before {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.article ul > li + li + li + li + li:before {
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
}

.article ul > li.five + li:before {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
}

.article ul > li.five + li + li:before {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.article ul > li.five + li + li + li:before {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

.article ul > li.five + li + li + li + li:before {
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
}

.article ol li {
    padding-left: 22px;
    position: relative;
}

.article ol li:before {
    content: "";
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #0026CA;
    position: absolute;
    top: 16px;
    left: 0;
}

.article.even .left {
    width: 500px;
    order: 2;
    padding-right: 0;
}

.article.even .right {
    width: calc(100% - 500px);
    order: 1;
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
}

.article.even ul > li {
    padding-left: 0;
    padding-right: 43px;
}

.article.even ul > li:before {
    left: auto;
    right: 0;
}

.more_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 54px;
    padding-left: 31px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #0026CA;
}

.more_link:before {
    content: "";
    width: 18px;
    height: 13px;
    background-image: url(img/more_shape.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 2px;
    left: 0;
}

.phone_1 {
    position: relative;
}

.icon_01 {
    position: absolute;
    top: 82px;
    left: 66px;
    z-index: 2;
    -webkit-animation: icon_01 4s infinite;
    -moz-animation:    icon_01 4s infinite;
    -o-animation:      icon_01 4s infinite;
    animation:         icon_01 4s infinite;
}

@keyframes icon_01 {
    0% {
        top: 82px;
    }
    50% {
        top: 110px;
    }
    100% {
        top: 82px;
    }
}

@-webkit-keyframes icon_01 {
    0% {
        top: 82px;
    }
    50% {
        top: 110px;
    }
    100% {
        top: 82px;
    }
}

@-moz-keyframes icon_01 {
    0% {
        top: 82px;
    }
    50% {
        top: 110px;
    }
    100% {
        top: 82px;
    }
}

.icon_02 {
    position: absolute;
    top: 61px;
    left: 312px;
}

.icon_03 {
    position: absolute;
    top: 283px;
    left: 86px;
}

.icon_04 {
    position: absolute;
    bottom: 72px;
    left: 65px;
    -webkit-animation: icon_04 4s infinite;
    -moz-animation:    icon_04 4s infinite;
    -o-animation:      icon_04 4s infinite;
    animation:         icon_04 4s infinite;
}

@keyframes icon_04 {
    0% {
        bottom: 72px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 72px;
    }
}

@-webkit-keyframes icon_04 {
    0% {
        bottom: 72px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 72px;
    }
}

@-moz-keyframes icon_04 {
    0% {
        bottom: 72px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 72px;
    }
}

.icon_04_2 {
    position: absolute;
    top: 290px;
    left: -53px;
    -webkit-animation: icon_04_2 4s infinite;
    -moz-animation:    icon_04_2 4s infinite;
    -o-animation:      icon_04_2 4s infinite;
    animation:         icon_04_2 4s infinite;
}

@keyframes icon_04_2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_04_2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_04_2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.phone_2 {
    position: relative;
    right: -35px;
}

.icon_05 {
    position: absolute;
    top: 39px;
    left: 41px;
}

.icon_06 {
    position: absolute;
    top: 122px;
    left: -76px;
    -webkit-animation: icon_06 4s infinite;
    -moz-animation:    icon_06 4s infinite;
    -o-animation:      icon_06 4s infinite;
    animation:         icon_06 4s infinite;
}

@keyframes icon_06 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_06 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_06 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon_07 {
    position: absolute;
    bottom: 63px;
    left: 55px;
}

.icon_08 {
    position: absolute;
    bottom: 180px;
    left: 20px;
    -webkit-animation: icon_08 4s infinite;
    -moz-animation:    icon_08 4s infinite;
    -o-animation:      icon_08 4s infinite;
    animation:         icon_08 4s infinite;
}

@keyframes icon_08 {
    0% {
        bottom: 180px;
    }
    50% {
        bottom: 120px;
    }
    100% {
        bottom: 180px;
    }
}

@-webkit-keyframes icon_08 {
    0% {
        bottom: 180px;
    }
    50% {
        bottom: 120px;
    }
    100% {
        bottom: 180px;
    }
}

@-moz-keyframes icon_08 {
    0% {
        bottom: 180px;
    }
    50% {
        bottom: 120px;
    }
    100% {
        bottom: 180px;
    }
}

.icon_09 {
    position: absolute;
    bottom: 87px;
    right: 52px;
    -webkit-animation: icon_09 4s infinite;
    -moz-animation:    icon_09 4s infinite;
    -o-animation:      icon_09 4s infinite;
    animation:         icon_09 4s infinite;
}

@keyframes icon_09 {
    0% {
        bottom: 87px;
    }
    50% {
        bottom: 60px;
    }
    100% {
        bottom: 87px;
    }
}

@-webkit-keyframes icon_09 {
    0% {
        bottom: 87px;
    }
    50% {
        bottom: 60px;
    }
    100% {
        bottom: 87px;
    }
}

@-moz-keyframes icon_09 {
    0% {
        bottom: 87px;
    }
    50% {
        bottom: 60px;
    }
    100% {
        bottom: 87px;
    }
}

.phone_3 {
    width: 455px;
    position: relative;
    left: -41px;
}

.icon_10 {
    position: absolute;
    top: 84px;
    left: 73px;
    -webkit-animation: icon_10 10s infinite;
    -moz-animation:    icon_10 10s infinite;
    -o-animation:      icon_10 10s infinite;
    animation:         icon_10 10s infinite;
}

@keyframes icon_10 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

@-webkit-keyframes icon_10 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

@-moz-keyframes icon_10 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

.icon_11 {
    position: absolute;
    bottom: 58px;
    left: 200px;
    -webkit-animation: icon_11 10s infinite;
    -moz-animation:    icon_11 10s infinite;
    -o-animation:      icon_11 10s infinite;
    animation:         icon_11 10s infinite;
}

@keyframes icon_11 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

@-webkit-keyframes icon_11 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

@-moz-keyframes icon_11 {
    0% {
        transform: rotate(-100deg);
    }
    50% {
        transform: rotate(100deg);
    }
    100% {
        transform: rotate(-100deg);
    }
}

.icon_12 {
    position: absolute;
    top: 48px;
    left: 230px;
}

.icon_13 {
    position: absolute;
    top: 83px;
    left: 389px;
}

.icon_14 {
    position: absolute;
    bottom: 66px;
    left: 117px;
}

.icon_15 {
    position: absolute;
    top: 179px;
    left: 62px;
    -webkit-animation: icon_15 4s infinite;
    -moz-animation:    icon_15 4s infinite;
    -o-animation:      icon_15 4s infinite;
    animation:         icon_15 4s infinite;
}

@keyframes icon_15 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_15 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_15 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.phone_4 {
    position: relative;
    right: -35px;
}

.icon_16 {
    position: absolute;
    top: 49px;
    left: 78px;
    -webkit-animation: icon_16 4s infinite;
    -moz-animation:    icon_16 4s infinite;
    -o-animation:      icon_16 4s infinite;
    animation:         icon_16 4s infinite;
}

@keyframes icon_16 {
    0% {
        top: 49px;
    }
    50% {
        top: 16px;
    }
    100% {
        top: 49px;
    }
}

@-webkit-keyframes icon_16 {
    0% {
        top: 49px;
    }
    50% {
        top: 16px;
    }
    100% {
        top: 49px;
    }
}

@-moz-keyframes icon_16 {
    0% {
        top: 49px;
    }
    50% {
        top: 16px;
    }
    100% {
        top: 49px;
    }
}

.icon_17 {
    position: absolute;
    top: 301px;
    left: 41px;
    -webkit-animation: icon_17 4s infinite;
    -moz-animation:    icon_17 4s infinite;
    -o-animation:      icon_17 4s infinite;
    animation:         icon_17 4s infinite;
}

@keyframes icon_17 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_17 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_17 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon_18 {
    position: absolute;
    bottom: 73px;
    left: 58px;
    -webkit-animation: icon_18 3s infinite;
    -moz-animation:    icon_18 3s infinite;
    -o-animation:      icon_18 3s infinite;
    animation:         icon_18 3s infinite;
}

@keyframes icon_18 {
    0% {
        left: 48px;
    }
    50% {
        left: 68px;
    }
    100% {
        left: 48px;
    }
}

@-webkit-keyframes icon_18 {
    0% {
        left: 48px;
    }
    50% {
        left: 68px;
    }
    100% {
        left: 48px;
    }
}

@-moz-keyframes icon_18 {
    0% {
        left: 48px;
    }
    50% {
        left: 68px;
    }
    100% {
        left: 48px;
    }
}

.phone_5 {
    position: relative;
}

.icon_19 {
    position: absolute;
    top: 116px;
    left: 63px;
}

.icon_20 {
    position: absolute;
    top: 71px;
    left: 74px;
    -webkit-animation: icon_20 4s infinite;
    -moz-animation:    icon_20 4s infinite;
    -o-animation:      icon_20 4s infinite;
    animation:         icon_20 4s infinite;
}

@keyframes icon_20 {
    0% {
        top: 71px;
    }
    50% {
        top: 90px;
    }
    100% {
        top: 71px;
    }
}

@-webkit-keyframes icon_20 {
    0% {
        top: 71px;
    }
    50% {
        top: 90px;
    }
    100% {
        top: 71px;
    }
}

@-moz-keyframes icon_20 {
    0% {
        top: 71px;
    }
    50% {
        top: 90px;
    }
    100% {
        top: 71px;
    }
}

.icon_21 {
    position: absolute;
    top: 246px;
    left: 189px;
}

.icon_22 {
    position: absolute;
    bottom: 326px;
    left: 6px;
}

.icon_23 {
    position: absolute;
    bottom: 221px;
    left: 151px;
    z-index: 2;
    -webkit-animation: icon_23 4s infinite;
    -moz-animation:    icon_23 4s infinite;
    -o-animation:      icon_23 4s infinite;
    animation:         icon_23 4s infinite;
}

@keyframes icon_23 {
    0% {
        bottom: 221px;
    }
    50% {
        bottom: 181px;
    }
    100% {
        bottom: 221px;
    }
}

@-webkit-keyframes icon_23 {
    0% {
        bottom: 221px;
    }
    50% {
        bottom: 181px;
    }
    100% {
        bottom: 221px;
    }
}

@-moz-keyframes icon_23 {
    0% {
        bottom: 221px;
    }
    50% {
        bottom: 181px;
    }
    100% {
        bottom: 221px;
    }
}

.icon_24 {
    position: absolute;
    bottom: 107px;
    left: 66px;
    -webkit-animation: icon_24 4s infinite;
    -moz-animation:    icon_24 4s infinite;
    -o-animation:      icon_24 4s infinite;
    animation:         icon_24 4s infinite;
}

@keyframes icon_24 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_24 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_24 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon_25 {
    position: absolute;
    top: 67px;
    left: 339px;
}

.icon_26 {
    position: absolute;
    top: 274px;
    left: 72px;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-animation: icon_26 4s infinite;
    -moz-animation:    icon_26 4s infinite;
    -o-animation:      icon_26 4s infinite;
    animation:         icon_26 4s infinite;
}

@keyframes icon_26 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_26 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_26 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.phone_6 {
    position: relative;
}

.icon_27 {
    position: absolute;
    top: 37px;
    left: 92px;
}

.icon_28 {
    position: absolute;
    top: 54px;
    left: 329px;
}

.icon_29 {
    position: absolute;
    top: 112px;
    left: 137px;
    -webkit-animation: icon_29 4s infinite;
    -moz-animation:    icon_29 4s infinite;
    -o-animation:      icon_29 4s infinite;
    animation:         icon_29 4s infinite;
}

@keyframes icon_29 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_29 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_29 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon_30 {
    position: absolute;
    top: 485px;
    left: 235px;
    -webkit-animation: icon_30 4s infinite;
    -moz-animation:    icon_30 4s infinite;
    -o-animation:      icon_30 4s infinite;
    animation:         icon_30 4s infinite;
}

@keyframes icon_30 {
    0% {
        top: 485px;
    }
    50% {
        top: 435px;
    }
    100% {
        top: 485px;
    }
}

@-webkit-keyframes icon_30 {
    0% {
        top: 485px;
    }
    50% {
        top: 435px;
    }
    100% {
        top: 485px;
    }
}

@-moz-keyframes icon_30 {
    0% {
        top: 485px;
    }
    50% {
        top: 435px;
    }
    100% {
        top: 485px;
    }
}

.icon_31 {
    position: absolute;
    bottom: 39px;
    left: 148px;
}

.icon_32 {
    position: absolute;
    bottom: 64px;
    left: 90px;
    -webkit-animation: icon_32 4s infinite;
    -moz-animation:    icon_32 4s infinite;
    -o-animation:      icon_32 4s infinite;
    animation:         icon_32 4s infinite;
}

@keyframes icon_32 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes icon_32 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes icon_32 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article_1 {
    margin-top: -114px;
}

.article_1 .right {
    padding-top: 214px;
}

.article_2 {
    margin-top: 40px;
}

.article_2 .right {
    padding-top: 99px;
}

.article_2_wrapp {
    padding-bottom: 192px;
    position: relative;
}

.article_2_wrapp > .row {
    position: relative;
    z-index: 2;
}

.article_2_wrapp + .row {
    z-index: 2;
    position: relative;
}

.article_2_wrapp:after {
    display: block;
    content: "";
    width: 100%;
    height: 356px;
    background-color: #7A7CFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article_bottom_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article_bottom_bg_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.article_bottom_bg_3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.article_bottom_bg_4 {
    position: absolute;
    bottom: 152px;
    left: 36%;
    z-index: 2;
}

.article_bottom_bg_5 {
    position: absolute;
    bottom: -186px;
    left: 0;
    z-index: 2;
}

.article_bottom_bg_6 {
    position: absolute;
    bottom: 137px;
    right: 121px;
    z-index: 2;
}

.article_3 {
    margin-top: -171px;
}

.article_3 .right {
    padding-top: 321px;
}

.article_4 {
    margin-top: -49px;
}

.article_4 .right {
    padding-top: 245px;
}

.article_4 * {
    color: #fff;
}

.article_4 .more_link {
    color: #9EADEB;
}

.article_4 .more_link:before {
    background-image: url(img/more_shape_2.svg);
}

.article_5 {
    margin-top: -94px;
}

.article_5 .right {
    padding-top: 234px;
}

.article_5 h2 {
    color: #fff;
}

.blue_bg {
    position: relative;
}

.blue_bg:before {
    content: "";
    width: 100%;
    height: 61%;
    background-color: #0026CA;
    position: absolute;
    top: 116px;
    left: 0;
}

.blue_bg_shape {
    position: absolute;
    top: 116px;
    right: 0;
}

.blue_bg >.row {
    position: relative;
    z-index: 2;
}

.article_6 {
    margin: -28px 0 -96px 0;
}

.article_6 .right {
    padding-top: 197px;
}

/*-- Section 1 - FAQ --*/

.header_site_2 {
    background-image: url(img/header_bg_2.jpg);
}

.header_descript_2 {
    padding: 23px 0;
}

.header_descript_2 p {
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #C8CDFA;
}

.two_cols_templ {
    display: flex;
    display: -webkit-flex;
    margin: 44px 0 181px 0;
}

.two_cols_templ .left {
    width: 480px;
    padding: 11px 45px 11px 0;
}

.two_cols_templ .right {
    width: calc(100% - 480px);
    padding-left: 45px;
}

.sidebar {
    background: #FFFFFF;
}

.sidebar {
    padding: 62px 20px 46px 59px;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar ul li a {
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .03em;
    color: #121212;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar ul li a:link,
.sidebar ul li a:visited {
    color: #121212;
}

.sidebar ul li a:active,
.sidebar ul li a.active {
    color: #1F45EA;
}

.sidebar ul li a:hover {
    color: #1F45EA;
}

.sidebar ul li a:before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(img/item_triangle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
    opacity: .4;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sidebar ul li a:link:before,
.sidebar ul li a:visited:before {
    opacity: .4;
}

.sidebar ul li a:active:before,
.sidebar ul li a.active:before {
    opacity: 1;
}

.sidebar ul li a:hover:before {
    opacity: 1;
}

.sidebar ul li:nth-child(1) a:before {
    transform: rotate(83deg);
}

.sidebar ul li:nth-child(3) a:before {
    transform: rotate(-79deg);
}

.sidebar ul li:nth-child(4) a:before {
    transform: rotate(59deg);
}

.sidebar ul li.five + li + li a:before {
    transform: rotate(83deg);
}

.sidebar ul li.five + li + li + li a:before {
    transform: rotate(-79deg);
}

.sidebar ul li.five + li + li + li + li a:before {
    transform: rotate(59deg);
}

.single_page_article h2 {
    padding-bottom: 33px;
}

.single_page_article p {
    padding: 17px 0;
}

.single_page_article p + h2 {
    padding-top: 103px;
}

/*-- /Section 1 - FAQ --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}

.footer_tr {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer_section {
    background-color: #0026CA;
}

.footer {
    display: flex;
    display: -webkit-flex;
    padding: 102px 0 61px 0;
    position: relative;
    z-index: 2;
}

.footer .left,
.footer .right {
    width: 27%;
}

.footer .left {
    padding-top: 16px;
}

.btns_wrapp {
    width: 46%;
    padding: 20px 0;
    text-align: center;
}

.google_play {
    display: inline-block;
    vertical-align: top;
    min-width: 223px;
    min-height: 74px;
    padding: 19px 10px 20px 10px;
    background-color: #2B2A29;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    background-image: url(img/google_play.svg);
    background-position: 12px -63px;
    background-repeat: no-repeat;
    background-size: auto;
}

.btns_wrapp .google_play {
    margin-left: -20px;
}

/*-- Animation --*/

.leftSlice {
    position: relative;
    left: -3%;
    opacity: 0;
    -webkit-transition-property: left, opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: left, opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: left, opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: left, opacity;
    -o-transition-duration: .7s;
    -o-transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: left, opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.leftSlice {
    left: 0;
    opacity: 1;
}

.fadeIn {
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: opacity;
    -o-transition-duration: .7s;
    --transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.fadeIn {
    opacity: 1;
}

.zoomFade {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: opacity, transform;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: opacity, transform;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: opacity, transform;
    -o-transition-duration: .7s;
    --transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: opacity, transform;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.zoomFade {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.fadeInUp {
    position: relative;
    bottom: -20px;
    opacity: 0;
    -webkit-transition-property: bottom, opacity;
    -webkit-transition-duration: .7s;
    -webkit-transition-delay: .3s;
    -webkit-transition-timing-function: ease-in-out;

    -moz-transition-property: bottom, opacity;
    -moz-transition-duration: .7s;
    -moz-transition-delay: .3s;
    -moz-transition-timing-function: ease-in-out;

    -ms-transition-property: bottom, opacity;
    -ms-transition-duration: .7s;
    -ms-transition-delay: .3s;
    -ms-transition-timing-function: ease-in-out;

    -o-transition-property: bottom, opacity;
    -o-transition-duration: .7s;
    -o-transition-delay: .3s;
    -o-transition-timing-function: ease-in-out;

    transition-property: bottom, opacity;
    transition-duration: .7s;
    transition-delay: .3s;
    transition-timing-function: ease-in-out;
}

.animate.active.fadeInUp {
    bottom: 0;
    opacity: 1;
}

/*-- /Animation --*/